.messageBlock {
  border: 1px solid;
  padding: 10px 20px;
  margin-top: 30px;
  font-weight: bold;
  position: absolute;
  bottom: -75px;

  &.positive {
    border-color: green;
    background-color: rgba(0, 128, 0, 0.1);
  }

  &.negative {
    border-color: red;
    background-color: rgba(255, 0, 0, 0.1);
  }
}
